* {
	box-sizing: content-box;
}

body{

	background: #ADD8E6;
}

.pattern-1{
	float: left;
	width: 500px;
	height: 500px;
	margin: 20;
	background-color: #dadada;
}

.spacing1{
	padding: 5px 10px;
}

.spacing2{
	padding: 10px 10px;
}

p{
	width: 500px;
	margin: 10px;
}

img{
	float: right;
	margin: 50px;
}