* {
	box-sizing: content-box;
}

body{

	background:gray;
}

.pattern-1{
	float: left;
	width: 120px;
	height: 700px;
	margin: auto;
	background-color: #dadada;
}

p{
	width: 100px;
	margin: 10px;
}

img{
	float: right;
	margin: 50px;
}